
.filterDiv{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filterSearch{
        padding: 10px;
    }
}

.jobsContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    border: 1px solid purple;
    margin: 0 auto;
}