.jobDivs{
    border: 1px solid;
    position: relative;
    width: 300px;
    max-width: 45%;
    margin: 50px 7px 0 7px;
    padding: 20px 0 0 10px;
    color: black;

    .companyLogo{
        display: block;
        position: absolute;
        top:-10px;
        border: 1px solid red;
        width: 50px;
        height: 50px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    span,.company{
        color: #6E8098
    }

    .ago{
        margin: 0 5px 0 0;
    }

    .type{
        margin: 0 0 0 5px;
    }
}

